/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
    /* FONT WEIGHT */
    --FONT-WEIGHT1: 400;
    --FONT-WEIGHT2: 700;
    --FONT-WEIGHT3: 800;

    /* FONT FAMILY */
    --PRIMARY-FONT: 'Inter', sans-serif;

    /* PRIMARY COLORS */
    --SOFT-ORANGE: hsl(35, 77%, 62%);
    --SOFT-RED: hsl(5, 85%, 63%);

    /* SECONDARY COLORS */
    --OFF-WHITE: hsl(36, 100%, 99%);
    --GRAYISH-BLUE: hsl(233, 8%, 79%);
    --DARKGRAYISH-BLUE: hsl(236, 13%, 42%);
    --DARK-BLUE: hsl(240, 100%, 5%);

    /* FONT SIZE */
    --PARAH-SIZE: 15px;

    /* UTILS */
    --pad-y: 2rem;
    --pad-x: 5rem;
}

/* UTILS */
.box-parah {
    color: var(--DARKGRAYISH-BLUE);
    font-weight: var(--FONT-WEIGHT1);
    border-bottom: 2px solid var(--DARKGRAYISH-BLUE);
}

/* GENERAL STYLING */
html,
body {
    scroll-behavior: smooth;
}

/* STYLING MAIN */
#main {
    width: 100%;
    padding: var(--pad-y) var(--pad-x);
}

/* Styling header */
#navbar {
    overflow: hidden;
}

.nav-head p {
    font-family: serif;
    font-weight: var(--FONT-WEIGHT3);
}

#menu li a {
    color: var(--DARK-BLUE);
    font-family: var(--PRIMARY-FONT);
}

#menu li a:hover {
    color: var(--SOFT-RED);
}

/* STYLING HOME SECTION */
#home {
    font-family: var(--PRIMARY-FONT);
}

/* STYLING LEFT SECTION OF HOME PAGE */
.info-head h1 {
    font-weight: var(--FONT-WEIGHT3);
    color: var(--DARK-BLUE);
}

.info-parah p {
    color: var(--DARK-BLUE);
    font-size: var(--PARAH-SIZE);
    font-weight: var(--FONT-WEIGHT1);
}

.btn {
    color: var(--OFF-WHITE);
    background: var(--SOFT-RED);
    margin-top: 2rem;
    padding: 12px 29px;
    letter-spacing: 2px;
    transition: all .1s ease-out;
}

.btn:hover {
    background: var(--DARK-BLUE);
}

/* STYLING RIGHT SECTION OF HOME PAGE */
.right {
    background: var(--DARK-BLUE);
    padding: 3rem 2.53rem;
}

.right-head {
    font-weight: var(--FONT-WEIGHT2);
    color: var(--SOFT-ORANGE);
    font-size: 3rem;
}